<h2>New message</h2>
<form method="post" action="/messages/new">
  <textarea id="body" name="body" style="height: 250px; width: 500px;"></textarea>
  <br>
  <input type="submit" name="submit" value="Create">
</form>