<h2><%= @message.url %></h2>
<p>
  Encrypted message:<br>
  <%= @message.encrypted_body %>
</p>
<p>
  Decrypted message:<br>
  <%= @message.body %>
</p>
<p>Visits: <%= @message.visits %></p>
<hr>
<a href="/messages">All messages</a>